@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.hire-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  border-radius: 6px;
  pointer-events: none;
  animation: laser-border 2.5s linear forwards;
  animation-delay: 0.5s; /* 1.5 sec delay before animation starts */
}


/* Keyframes for sweeping border line */
@keyframes laser-border {
  0% {
    opacity: 0;
    border-color: transparent;
  }

  10% {
    opacity: 1;
    border-top-color: #8daec2;
  }

  25% {
    border-top-color: #ffffff;
    border-right-color: #ffffff;
  }

  40% {
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
  }

  55% {
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }

  70% {
    border-left-color: #ffffff;
    opacity: 1;
  }

  85% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    border-color: transparent;
  }
}

.hire-button::before {
  filter: drop-shadow(0 0 12px #003cff);
}

